{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Blog {% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Main Content -->
<div class="main-content">
  <section>

    <div class="container">
      <div class="title-health-box wow fadeInUp text-center" data-wow-duration="0.9s">
        <p class="sub-title">Blog</p>
        <h2 class="title font-weight-bold">Read Latest Posts</h2>


      </div>
      <form class="form-inline ">

        	<div class="col-lg-6">
          <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search" style="width: 400px">
          <input class="button" type="submit" value="Search">

          </div>
      </form>

      <div class="row">

        {% for post in posts %}
        <div class="col-lg-6 col-md-6 col-sm-6 Vizion-space-bottom">
          <div class="iq-blog-box">
          <div class="iq-blog-image clearfix">
            <img src="{{post.pic.url}}" class="img-fluid center-block" alt="blogimage1">
          </div>
          <div class="iq-blog-detail">
            <div class="iq-blog-meta">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="{% url 'user_posts' post.author.username %}" class="iq-user"><i class="fa fa-user" aria-hidden="true"></i> {{ post.author }}</a>
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                  <a href="#" rel="bookmark">{{ post.date_posted|date:"F d, Y" }}</a>
                </li>
                <li class="list-inline-item">

                </li>
              </ul>
            </div>
            <div class="blog-title">
              <a href="#">
                <h6>{{ post.title }}</h6>
              </a>
            </div>
            <div class="blog-content">
              <p>{{ post.brief | slice:":65" }}</p>
            </div>
            <div class="blog-button"><a class="button" href="{% url 'post_detail' post.pk %}">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
        </div>
        {% endfor %}




      </div>
      {% if is_paginated %}
      <div class="row">
        <div class="col-lg-12">
          <div class="pagination justify-content-center">
            <nav aria-label="Page navigation">
              <ul class="page-numbers justify-content-center">
                {% if page_obj.has_previous %}

                  <li><a class="next page-numbers" href="?page=1"><span aria-hidden="true">First page</span></a></li>
                  <li><a class="next page-numbers" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <li><a class="page-numbers current" href="?page={{ num }}">{{ num }}</a></li>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li><a class="page-numbers" href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <li><a class="next page-numbers" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li><a class="next page-numbers" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
                <!-- <li><span aria-current="page" class="page-numbers current">1</span></li>
                <li><a class="page-numbers" href="#">2</a></li>
                <li><a class="next page-numbers" href="#"><span aria-hidden="true">Next page</span></a></li> -->
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {% endif %}



    
    </div>
  </section>
</div>


{% endblock %}
