{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Login {% endblock title %}

{% block content %}


<section id="contact" class="contact">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Welcome Back!</h2>
      <p>Log in</p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-6">

        <img src="{% static 'assets/img/login.jpg' %}" class="img-fluid" alt="">

      </div>

      <div class="col-lg-6">

        <form method="POST" >
          {% csrf_token %}
          <div class="row gy-4">
            <h4>Enter Your Credentials</h4>
            <div class="col-md-12">
              <input type="text" class="form-control"  name="username" id="username" placeholder="Your Username">
            </div>

            <div class="col-md-12">
              <input type="password" class="form-control"  name="password" id="password" placeholder="Your Password">
            </div>

            <div class="col-md-12 text-center">

              <button type="submit" class="btn btn-primary" >Log in</button>
            </div>
            <div class="col-md-12"> <p>Don't have an account? <a href ="{% url 'register'  %}">register</a></p></div>

          </div>
        </form>


      </div>

    </div>

  </div>

</section><!-- End Contact Section -->




{% endblock %}
