
{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Add my talents {% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<section id="about" class="about">
  <br>
  <br>
  <br>
  <br>
  <header class="section-header">
    <h3>Talents</h3>
    <p>Enjoy our user talents</p>
  </header>

  {% for i in my %}
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>Talent shared by {{i.user}}</h3>
          <h2>{{i.title}}</h2>
          <p>
            {{i.description}}
          </p>
          <div class="text-center text-lg-start">
            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>gallery</span>
              <i class="bi bi-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">



        {% load embed_video_tags %}

        <!-- The video tag: -->


        <div class="embed-responsive embed-responsive-16by9">
          {% video i.video as my_video %}
    </div>

        {% video my_video "small" %}

        {% endvideo %}


      </div>

    </div>
  </div>
  <br>
  <br>
  <section id="portfolio" class="portfolio">

    <div class="container" data-aos="fade-up">



      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ i.picture_1.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Photo 1</h4>
              <p>Photo 1</p>
              <div class="portfolio-links">
                <a href="{{ i.picture_1.url }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Photo 1"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{ i.picture_2.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Photo 2</h4>
              <p>Photo 2</p>
              <div class="portfolio-links">
                <a href="{{ i.picture_2.url }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Photo 2"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ i.picture_3.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Photo 3</h4>
              <p>Photo 3</p>
              <div class="portfolio-links">
                <a href="{{ i.picture_3.url }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Photo 3"><i class="bi bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>





      </div>

    </div>
    <hr>

  </section><!-- End Portfolio Section -->

  {% endfor %}

</section><!-- End About Section -->
{% endblock %}
