  {% extends 'base.html' %}

  {% load static %}


  <!-- Page Loader -->
  {% block title %} Register {% endblock title %}

  {% block content %}


  <section id="contact" class="contact">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Welcome!</h2>
        <p>Register</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <img src="{% static 'assets/img/login.jpg' %}" class="img-fluid" alt="">

        </div>

        <div class="col-lg-6">

          <h4 class="mb-4">Enter Your Details</h4>
          <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" name="first_name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" name="last_name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password2">Password</label>
              <input type="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" name="password2" class="form-control" required>
            </div>
            <br>
            <br>
            <div class="col-md-12 text-center">

              <button type="submit" class="btn btn-primary" >Register</button>
            </div>
            <br>
            <div class="col-md-12"> <p>Already have an account? <a href ="{% url 'login'  %}">login</a></p></div>
          </form>


        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->





  {% endblock %}
