{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} New Blog Post {% endblock title %}



{% load crispy_forms_tags %}
{% block content %}




<section id="contact" class="contact">
  <br>

  <br>
  <br>
  <br>

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Blog</h2>
      <p>New Blog Post</p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-6">

        <img src="{% static 'assets/img/login.jpg' %}" class="img-fluid" alt="">

      </div>

      <div class="col-lg-6">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <fieldset class="form-group" >

                {{ form|crispy }}
            </fieldset>
            <br>

              <button type="submit" class="btn btn-primary" >Post</button>
              <a href="{% url 'blog' %}" class="btn btn-warning button" >Cancel</a>

        </form>


      </div>

    </div>

  </div>

</section><!-- End Contact Section -->
{% endblock content %}
