{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Blog {% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Main Content -->
<div class="main-content">
  <section class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <h3 class="pt-3 pb-3">{{object.title}}</h3>
          <p>
            By <a class="mr-2" href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a> | Posted on {{ object.date_posted|date:"F d, Y" }}
            {% if object.author == user %}
            <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2 "
            href="{% url 'post_delete' object.id %}">Delete</a>
            {% endif %}
          </p>
          <img src="{{object.pic.url}}" class="img-fluid-new w-100" alt="blogimage">

          <div class="blog-content">
            <blockquote class="blockquote mt-4 mb-4">
              <p class="mb-0">{{ object.brief|safe|linebreaks }}</p>
            </blockquote>
          </div>
          <p>{{ object.content|safe|linebreaks }}</p>
          <div class="share-box">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="social-icone text-left mt-3 mt-lg-0 mt-md-0">
                  <h5 class="d-inline">Share:</h5>
                  <ul class="list-inline mb-0 d-inline">
                    <li class="list-inline-item">
                      <a href="#" ><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li class="list-inline-item">
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          {% if user.is_authenticated %}
          <div class="text-center">
            <a id="like" style="cursor: pointer;" class="text-center" data-url="#"><i
              style="color: red" class="
              like-icon
              {% if user in object.liked.all %}
              fas fa-heart fa-3x
              {% else %}
              far fa-heart fa-3x
              {% endif %}
              " id="like-icon"></i></a>
              <h6 id="likes_count" style="color: red">{{object.liked.count}}</h6>
            </div>
            {% endif %}

            {% if user.is_authenticated %}


            <form method="POST" action="{% url 'add_comment' object.id %}">
              {% csrf_token %}
              <div class="row">
                <h4 class="mb-2 mt-5">Leave a Comment</h4>
                <textarea class="form-control" name="text" rows="3" required placeholder="Your Comment"></textarea>
                <input type="hidden" name="user_id" value="{{user.id}}">
                <div >
                  <button class="button" type="submit">Comment</button>


                </div>
              </div>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-button btn-lg btn-block mb-4">
              Sign In for comment and like the post.
            </a>
            {% endif %}

            <!-- Single Comments -->
            {% for comment in post.comments.all %}
            {% if comment.approved_comment %}

            <section>
              <div class="col-lg-8">
                <div class="pricing-ecom-box text-left wow slideInUp" data-wow-duration="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-name: slideInUp;">

                  <h6 class="mt-0"><a href="{% url 'patient' comment.author.pk %}"><i class="fa fa-user-o" >&nbsp; </i>{{ comment.author }}</a></h6>
                  {{ comment.text|linebreaks }}
                </div>
              </div>




              {% else %}
              <div class="alert alert-secondary" role="alert">
                No Comment has been posted.
              </div>
            </section>
            {% endif %}
            {% endfor %}





          </div>

        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2>Latest News in AI for eCommerce</h2>
            <p>Faff about only a quid blower I don’t want no agro bleeding chimney pot<br>  burke tosser cras nice one boot fanny.!</p>
          </div>
          <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30" >
            <div class="item">
              <div class="iq-blog-box">
                <div class="iq-blog-image clearfix">
                  <img src="images/11.jpg" class="img-fluid center-block" alt="blogimage1">
                </div>
                <div class="iq-blog-detail">
                  <div class="iq-blog-meta">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="iq-user"><i class="fa fa-user" aria-hidden="true"></i> admin</a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                        <a href="#" rel="bookmark">November 22, 2019</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 0</a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog-title">
                    <a href="#">
                      <h6>Beautiful product</h6>
                    </a>
                  </div>
                  <div class="blog-content">
                    <p>Printer Ipsum has been the industry standard dummy text ever since this beautiful-crafted.</p>
                  </div>
                  <div class="blog-button"><a class="button" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-blog-box">
                <div class="iq-blog-image clearfix">
                  <img src="images/12.jpg" class="img-fluid center-block" alt="blogimage1">
                </div>
                <div class="iq-blog-detail">
                  <div class="iq-blog-meta">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="iq-user"><i class="fa fa-user" aria-hidden="true"></i> admin</a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                        <a href="#" rel="bookmark">November 22, 2019</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 0</a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog-title">
                    <a href="#">
                      <h6>Beautiful product</h6>
                    </a>
                  </div>
                  <div class="blog-content">
                    <p>Printer Ipsum has been the industry standard dummy text ever since this beautiful-crafted.</p>
                  </div>
                  <div class="blog-button"><a class="button" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-blog-box">
                <div class="iq-blog-image clearfix">
                  <img src="images/13.jpg" class="img-fluid center-block" alt="blogimage1">
                </div>
                <div class="iq-blog-detail">
                  <div class="iq-blog-meta">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="iq-user"><i class="fa fa-user" aria-hidden="true"></i> admin</a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                        <a href="#" rel="bookmark">November 22, 2019</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 0</a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog-title">
                    <a href="#">
                      <h6>Beautiful product</h6>
                    </a>
                  </div>
                  <div class="blog-content">
                    <p>Printer Ipsum has been the industry standard dummy text ever since this beautiful-crafted.</p>
                  </div>
                  <div class="blog-button"><a class="button" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-blog-box">
                <div class="iq-blog-image clearfix">
                  <img src="images/11.jpg" class="img-fluid center-block" alt="blogimage1">
                </div>
                <div class="iq-blog-detail">
                  <div class="iq-blog-meta">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="iq-user"><i class="fa fa-user" aria-hidden="true"></i> admin</a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                        <a href="#" rel="bookmark">November 22, 2019</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 0</a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog-title">
                    <a href="#">
                      <h6>Beautiful product</h6>
                    </a>
                  </div>
                  <div class="blog-content">
                    <p>Printer Ipsum has been the industry standard dummy text ever since this beautiful-crafted.</p>
                  </div>
                  <div class="blog-button"><a class="button" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}
