{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Home {% endblock title %}

{% block content %}
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">Home</a></li>
      <li><a href="blog.html">About</a></li>

    </ol>
    <h2>About MEDI.AI</h2>

  </div>
</section><!-- End Breadcrumbs -->

<main id="main">
  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-12 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="{% static 'assets/img/Home_2.jpg' %}" alt="" class="img-fluid" height="150px">
            </div>

            <h2 class="entry-title">
              <a href="blog-single.html">About MEDI.AI</a>
            </h2>

            <div class="entry-meta">
              <ul>

              </ul>
            </div>

            <div class="entry-content">




              <blockquote>
                <p>
                <b>  Our Vision</b><br>

                  The MEDI.AI envisions a world in which all people with addisons disease have the opportunity to enhance their quality of life, realize their life aspirations and become valued members of welcoming communities.                </p>
              </blockquote>

              <p>
                  <h2 > Services </h2> <br>
                MEDI.AI supports and advocates for the  community by focusing on three key areas of programming: Resources & Support, Policy & Advocacy, and Community Engagement.
              </p>



            </div>



          </article><!-- End blog entry -->




        </div><!-- End blog entries list -->



      </div>

    </div>
  </section><!-- End Blog Single Section -->



</main><!-- End #main -->


{% endblock %}
