{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Home {% endblock title %}

{% block content %}
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Addison's disease Predictor</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">An online platfrom for Addison's disease patients .</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="{% url 'predict' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/Main.jpg' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>MEDI.AI helps addison's disease community by focusing on  following key areas of support: disease Predictions & consultation, Advocacy, and Community Engagement.  </h2>
            <p>
              MEDI.AI envisions a world in which all people with addison's disease have the opportunity to enhance their quality of life, realize their life aspirations and become valued members of welcoming communities.
            </p>
            <div class="text-center text-lg-start">
              <a href="{% url 'about' %}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/About_2.png' %}" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->


  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people"  style="color: #ff4f5a;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Today Visits</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile " style="color: #ff6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="121" data-purecounter-duration="1" class="purecounter"></span>
              <p>Users</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-person-square" style="color: #ccbe56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctor</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext " style="color: #cc0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="152" data-purecounter-duration="1" class="purecounter"></span>
              <p>Blogs</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->






  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  What is addison's disease?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Down syndrome is a genetic condition which is the most commonly occurring chromosomal condition. It occurs in 1 out of every 691 births and affects people of all races and economic levels. Typically, babies receive 23 chromosomes from their mother and 23 from their father. A baby with Down syndrome, for unknown reasons, will have three copies of the 21st chromosome instead of two. That is why Down syndrome is also called Trisomy 21. Every cell will contain 47 instead of the typical 46 chromosomes.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  How Common is addison's disease?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  According to the Centers for Disease Control and Prevention, approximately one in every 700 babies in the United States is born with Down syndrome, making Down syndrome the most common chromosomal condition. About 6,000 babies with Down syndrome are born in the United States each year.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  When Was Down addison's disease Discovered?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  For centuries, people with Down syndrome have been alluded to in art, literature and science. It wasn’t until the late nineteenth century, however, that John Langdon Down, an English physician, published an accurate description of a person with Down syndrome. It was this scholarly work, published in 1866, that earned Down the recognition as the “father” of the syndrome. Although other people had previously recognized the characteristics of the syndrome, it was Down who described the condition as a distinct and separate entity.

In recent history, advances in medicine and science have enabled researchers to investigate the characteristics of people with Down syndrome. In 1959, the French physician Jérôme Lejeune identified Down syndrome as a chromosomal condition. Instead of the usual 46 chromosomes present in each cell, Lejeune observed 47 in the cells of individuals with Down syndrome. It was later determined that an extra partial or whole copy of chromosome 21 results in the characteristics associated with Down syndrome. In the year 2000, an international team of scientists successfully identified and catalogued each of the approximately 329 genes on chromosome 21. This accomplishment opened the door to great advances in Down syndrome research.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  What causes addison's disease?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Regardless of the type of Down syndrome a person may have, all people with Down syndrome have an extra, critical portion of chromosome 21 present in all or some of their cells. This additional genetic material alters the course of development and causes the characteristics associated with Down syndrome.

                  The cause of the extra full or partial chromosome is still unknown. Maternal age is the only factor that has been linked to an increased chance of having a baby with Down syndrome resulting from nondisjunction or mosaicism. However, due to higher birth rates in younger women, 80% of children with Down syndrome are born to women under 35 years of age.

                  There is no definitive scientific research that indicates that Down syndrome is caused by environmental factors or the parents’ activities before or during pregnancy.

                  The additional partial or full copy of the 21st chromosome which causes Down syndrome can originate from either the father or the mother. Approximately 5% of the cases have been traced to the father.                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  Possibility of Having a Child with addison's disease?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Down syndrome occurs in people of all races and economic levels, though older women have an increased chance of having a child with Down syndrome. A 35 year old woman has about a one in 350 chance of conceiving a child with Down syndrome, and this chance increases gradually to 1 in 100 by age 40. At age 45 the incidence becomes approximately 1 in 30. The age of the mother does not seem to be linked to the risk of translocation.

                  Since many couples are postponing parenting until later in life, the incidence of Down syndrome conceptions is expected to increase. Therefore, genetic counseling for parents is becoming increasingly important. Still, many physicians are not fully informed about advising their patients about the incidences of Down syndrome, advancements in diagnosis, and the protocols for care and treatment of babies born with Down syndrome.                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  How is addison's disease diagnosed?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Prenatally - There are two categories of tests for Down syndrome that can be performed before a baby is born: screening tests and diagnostic tests. Prenatal screens estimate the chance of the fetus having Down syndrome. These tests do not tell you for sure whether your fetus has Down syndrome; they only provide a probability. Diagnostic tests, on the other hand, can provide a definitive diagnosis with almost 100% accuracy.

                  There is an extensive menu of prenatal screening tests now available for pregnant women. Most screening tests involve a blood test and an ultrasound (sonogram). The blood tests (or serum screening tests) measure quantities of various substances in the blood of the mother. Together with a woman’s age, these are used to estimate her chance of having a child with Down syndrome. These blood tests are often performed in conjunction with a detailed sonogram to check for “markers” (characteristics that some researchers feel may have a significant association with Down syndrome). New advanced prenatal screens are now able to detect chromosomal material from the fetus that is circulating in the maternal blood. These tests are not invasive (like the diagnostic tests below), but they provide a high accuracy rate. Still, all of these screens will not definitively diagnose Down syndrome. Prenatal screening and diagnostic tests are now routinely offered to women of all ages.

                  The diagnostic procedures available for prenatal diagnosis of Down syndrome are chorionic villus sampling (CVS) and amniocentesis. These procedures, which carry up to a 1% risk of causing a spontaneous termination (miscarriage), are nearly 100% accurate in diagnosing Down syndrome. Amniocentesis is usually performed in the second trimester between 15 and 20 weeks of gestation, CVS in the first trimester between 9 and 14 weeks.

                  At Birth - Down syndrome is usually identified at birth by the presence of certain physical traits: low muscle tone, a single deep crease across the palm of the hand, a slightly flattened facial profile and an upward slant to the eyes. Because these features may be present in babies without Down syndrome, a chromosomal analysis called a karyotype is done to confirm the diagnosis. To obtain a karyotype, doctors draw a blood sample to examine the baby’s cells. They photograph the chromosomes and then group them by size, number, and shape. By examining the karyotype, doctors can diagnose Down syndrome. Another genetic test called FISH can apply similar principles and confirm a diagnosis in a shorter amount of time.                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </section><!-- End F.A.Q Section -->



  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>User Feedbacks</h2>
        <p>What they are saying about us</p>
      </header>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
“When you focus on someone's disability you'll overlook their abilities, beauty and uniqueness. Once you learn to accept and love them for who they are, you subconsciously learn to love yourself unconditionally.”               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Patient</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
Begin with the soft smelted upturned heart-shaped mouth made for smiling a smile kept for kindness, tenderness, incapable of malice.               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Teacher</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                I know of other mothers who have children with disabilities,and right away they loved them and decided to ﬁght for them.
                That isn’t my story.”               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Doctor</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                I know of other mothers who have children with disabilities,and right away they loved them and decided to ﬁght for them.
                That isn’t my story.”               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Parent</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->



        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- End Testimonials Section -->



</main><!-- End #main -->


{% endblock %}
