{% extends 'base.html' %}

{% load static %}


<!-- Page Loader -->
{% block title %} Home {% endblock title %}

{% block content %}
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Addison's disease Predictor</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">An online platfrom for Addison's disease patients .</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="{% url 'predict' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/Main.jpg' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>MEDI.AI helps addison's disease community by focusing on  following key areas of support: disease Predictions & consultation, Advocacy, and Community Engagement.  </h2>
            <p>
              MEDI.AI envisions a world in which all people with addison's disease have the opportunity to enhance their quality of life, realize their life aspirations and become valued members of welcoming communities.
            </p>
            <div class="text-center text-lg-start">
              <a href="{% url 'about' %}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/About_2.png' %}" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->


  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people"  style="color: #ff4f5a;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Today Visits</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile " style="color: #ff6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="121" data-purecounter-duration="1" class="purecounter"></span>
              <p>Users</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-person-square" style="color: #ccbe56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctor</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext " style="color: #cc0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="152" data-purecounter-duration="1" class="purecounter"></span>
              <p>Blogs</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->






  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  What is addison's disease?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  One way the body keeps itself in balance is by using chemical messengers called hormones to regulate various functions.
                  Just above each of your kidneys is a small adrenal gland.These glands make hormones essential to a healthy life. When they don't make enough of these hormones, Addison's disease is the result.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  How Common is addison's disease?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Addison's disease is a rare condition. Only one in 100,000 people has it. It can happen at any age to either men or women.                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  When Was Down addison's disease Discovered?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Thomas Addison was first to describe adrenocortical failure in 1855. Despite advances in the treatment of this condition, the diagnosis is still often delayed and sometimes missed with potentially fatal consequences.

                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  What causes addison's disease?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  *Most cases of Addison’s disease result from a problem with the adrenal glands themselves (primary adrenal insufficiency).
*when the body's immune system mistakenly attacks the adrenal glands.
*Long-lasting infections -- such as tuberculosis, HIV, and some fungal infections -- can harm the adrenal glands.
*Cancer cells that spread from other parts of the body to the adrenal glands also can cause Addison's disease.         </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  What are the treatment available for addison's disease?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Treatment usually involves corticosteroid (steroid) replacement therapy for life. Corticosteroid medicine is used to replace the hormones cortisol and aldosterone that your body no longer produces. It's usually taken in tablet form 2 or 3 times a day.</div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  How is addison's disease diagnosed?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Addison's disease results from bilateral destruction of the adrenal glands, which sit atop your kidneys.
Your adrenal glands are stimulated by your brain to produce cortisol under stress. Addison's disease can present as an acute illness or come on gradually. A rare complication of Addison's disease is adrenal crisis, which presents as shock, or very low blood pressure.
*Fatigue and weakness
*Poor appetite and weight loss
*Nausea, vomiting, and abdominal pain
*Muscle and joint pain
*Low blood pressure
</div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </section><!-- End F.A.Q Section -->



  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>User Feedbacks</h2>
        <p>What they are saying about us</p>
      </header>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
“When you focus on someone's disability you'll overlook their abilities, beauty and uniqueness. Once you learn to accept and love them for who they are, you subconsciously learn to love yourself unconditionally.”               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Patient</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
Begin with the soft smelted upturned heart-shaped mouth made for smiling a smile kept for kindness, tenderness, incapable of malice.               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Teacher</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                I know of other mothers who have children with disabilities,and right away they loved them and decided to ﬁght for them.
                That isn’t my story.”               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Doctor</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                I know of other mothers who have children with disabilities,and right away they loved them and decided to ﬁght for them.
                That isn’t my story.”               </p>
              <div class="profile mt-auto">
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Parent</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->



        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- End Testimonials Section -->



</main><!-- End #main -->


{% endblock %}
